*.out
coverage.*
*.coverprofile
profile.cov
*.md
*.log
*.swp
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tar.gz

.agents/
.cache/
.codex/
.data/
.idea/
.vscode/
.git
.gitignore
.editorconfig
.dockerignore
.env*
go.work
go.work.sum
fleet*.yaml

bin/
bin-tools/
build/
dist/
docker/
docs/
